* {
  box-sizing: border-box;
  margin: 0px;
}

header {
  height: 15vh;
  min-height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;

  img {
    height: 100%;
  }
}

section.mainTitle {
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;

  .titleContainer {
    position: relative;
    z-index: 1;

    h1 {
      font-size: 118px;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
    }

    p {
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;

      text-align: center;
      margin-top: 1rem;
    }
  }
}

section.mainTitle::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("assets/backgroundImage.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(8px);
  transform: scale(2);
  z-index: 0;
}
