* {
  box-sizing: border-box;
  margin: 0px;

  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #8c52ff;

  font-weight: 800;
  font-size: 30px;
}

h3 {
  color: #afb710;
  font-weight: 800;
  font-size: 24px;

  margin-bottom: 0.5rem;
}

h4{
  color: #8c52ff;
  font-weight: 800;
  font-size: 20px;
  margin: 1rem 0;
}

p {
  color: #282828;
  font-size: 16px;
}

header,
footer {
  height: 15vh;
  min-height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;

  img {
    height: 100%;
  }
}

section.mainTitle {
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;

  .titleContainer {
    position: relative;
    z-index: 1;

    h1 {
      font-size: 118px;
      color: white;
      font-weight: 800;
    }

    p {
      color: white;
      text-align: center;
      margin-top: 1rem;
    }
  }
}

section.mainTitle::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("assets/backgroundImage.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(8px);
  transform: scale(2);
  z-index: 0;
}

main {
  margin: 3rem 5rem;

  .container {
    padding: 3rem 4rem;
    border-radius: 0.5rem;

    background: linear-gradient(180deg, #ffffff 0%, #f5f6f8 100%);
    box-shadow:
      0 1px 2px rgba(0, 0, 0, 0.06),
      0 12px 24px rgba(0, 0, 0, 0.06);

    .container_description {
      margin-bottom: 1rem;
    }

    .container_rules {
      .rule {
        padding: 1rem 0;
        box-shadow: inset 0 -2px 0 rgba(83, 43, 168, 0.1);
      }
    }
  }
}
